body {
    font-family: "Poppins", sans-serif;
    color: #1b161d;
    background-color: #ffffff;
  }
  
  .layout_padding {
    padding: 45px 0;
  }
  
  /*header section*/
  
  
  .main_area {
    height: 98vh;
    position: relative;
  }
  
  .sub_page .main_area {
    height: auto;
  }
  
  .main_area::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 102%;
    left: 0;
    top: 0;
    background-color: #7a9405;
    clip-path: polygon(0 0, 100% 0, 100% 73%, 0% 100%);
  }
  
  .sub_page .main_area::before {
    clip-path: none;
  }
  
  
  .main_area.sub_pages {
    height: auto;
  }
  
  .header_section .container-fluid {
    padding-right: 25px;
    padding-left: 25px;
  }
  
  .header_section .nav_container {
    margin: 0 auto;
  }
  
  .custom_nav-container.navbar-expand-lg .navbar-nav .nav-link img {
    width: 22px;
    margin-right: 15px;
  }
  
  .custom_nav-container.navbar-expand-lg .navbar-nav .nav-link {
    padding: 0px 25px;
    color: white;
    text-align: center;
    font-family: "Roboto", sans-serif;
  }
  
  .custom_menu-btn {
    z-index: 0;
    position: absolute;
    right: 15px;
    top: 14px;
  }
  
  .custom_menu-btn button {
    margin-top: 12px;
    outline: none;
    border: none;
    background-color: transparent;
  
  }
  
  .custom_menu-btn button span {
    display: block;
    width: 35px;
    height: 5px;
    background-color:white;
    margin: 7px 0;
    transition: all .3s;
  }
  
  .menu_btn-style {
    position: fixed;
    right: 29px;
    top: 14px;
  }
  
  .custom_menu-btn .s-2 {
    transition: all .1s;
  }
  
  .menu_btn-style button .s-1 {
    transform: rotate(45deg) translateY(17px);
  }
  
  .menu_btn-style button .s-2 {
    transform: translateX(100px);
  }
  
  .menu_btn-style button .s-3 {
    transform: rotate(-45deg)translateY(-17px);
  }
  
  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
    
   

  
  .overlay a {
    padding: 0px;
    text-decoration: none;
    font-size: 22px;
    color: rgb(255, 255, 255);
    display: block;
    transition: 0.3s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .menu_width {
    width: 100%;
  }
  
  
  
  a,
  a:hover,
  a:focus {
    text-decoration: none;
  }
  
  a:hover,
  a:focus {
    color: initial;
  }
  
  .btn,
  .btn:focus {
    outline: none !important;
    box-shadow: none;
  }

  
  .custom_nav-container .nav_search-btn {
    background-image: url(../images/search-icon.png);
    background-size: 18px;
    background-repeat: no-repeat;
    background-color: #7a9405;
    width: 35px;
    height: 35px;
    padding: 0;
    border: none;
    margin: 0 40px 0 15px;
    background-position: center;
  
  }
  
  
  .navbar-brand {
    display: flex;
    align-items: center;
  }
  
  .navbar-brand img {
    width: 40px;
    margin-right: 5px;
  }
  
  .navbar-brand span {
    font-family: 'Dosis', sans-serif;
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 500;
    color: white;
    margin-top: 5px;
  
  }
  
  .custom_nav-container {
    z-index: 99999;
    padding: 15px 0;
  }
  
  .custom_nav-container .navbar-toggler {
    outline: none;
  }
  
  .custom_nav-container .navbar-toggler .navbar-toggler-icon {
    background-image: url(../images/menu.png);
    background-size: 55px;
  }
  
  .quote_btn-container a {
    display: inline-block;
    padding: 5px 15px;
    background-color: #7a9405;
    color: rgb(206, 39, 39);
    font-size: 14px;
    text-transform: uppercase;
  }
  
  
  /* header section ends*/
  
  /* courosel section starts */
  
  
  .courosel_section .row {
    align-items: center;
  }
  
  .courosel_detail {
    color: white;
  }
  
  .courosel_detail h1 {
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .courosel_detail h1 span {
    color: #010106;
  }
  
  .courosel_detail p {
    margin: 25px 0 35px 0;
  }
  
  .courosel_detail a {
    display: inline-block;
    padding: 9px 35px;
    border: 2px solid #fefeff;
    color: #fefeff;
    border-radius: 35px;
  }
  
  .courosel_detail a:hover {
    background-color: #fefeff;
    color: #010106;
  }
  
  .courosel_img-box img {
    width: 100%;
    position: relative;
    z-index: 2;
  }
  
  .courosel_img-box::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 40%;
    background-color: #fff;
    filter: blur(95px) opacity(.7);
  
  }
  
  .courosel_section .carousel-indicators {
    font-family: 'Dosis', sans-serif;
    font-weight: 500;
    color: #fff;
    justify-content: flex-start;
    margin: 0;
    left: 5%;
    align-self: center;
  }
  
  .courosel_section .carousel-indicators li {
    text-indent: initial;
    background-color: transparent;
    text-align: center;
    font-size: 16px;
    line-height: 10px;
    opacity: 0.9;
  }
  
  .courosel_section .carousel-indicators .active {
    font-size: 24px;
  }
  
  .courosel_section #carouselExampleControls,
  .carousel-inner,
  .carousel-item {
    height: 100%;
  }
  
  .courosel_section .carousel_btn-container {
    width: 100px;
    position: absolute;
    top: 75vh;
    display: flex;
    justify-content: space-between;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
  }
  
  .courosel_section .carousel-control-prev,
  .courosel_section .carousel-control-next {
    position: relative;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 100%;
    opacity: 1;
    background-repeat: no-repeat;
    background-size: 28px;
    background-position: center;
    background-color: #fff;
    transform: translateY(-50%);
    -webkit-box-shadow: 2px 0px 23px -4px rgba(0, 0, 0, 0.32);
    -moz-box-shadow: 2px 0px 23px -4px rgba(0, 0, 0, 0.32);
    box-shadow: 2px 0px 23px -4px rgba(0, 0, 0, 0.32);
  }
  
  .courosel_section .carousel-control-prev:hover,
  .courosel_section .carousel-control-next:hover {
    background-color: #292727;
    background-size: 12px;
  
  }
  
  .courosel_section .carousel-control-prev {
    background-image: url(../images/left-black-arrow.png);
  }
  
  .courosel_section .carousel-control-next {
    background-image: url(../images/right-black-arrow.png);
  }
  
  .courosel_section .carousel-control-prev:hover {
    background-image: url(../images/prev.png);
  }
  
  .courosel_section .carousel-control-next:hover {
    background-image: url(../images/next.png);
  }
  
  /*  courosel section ends*/
  
  /* detail section */
  .detail_section {
    margin-top: 45px;
    text-align: center;
  }
  
  .detail_section h4 {
    font-size: 22px;
  }
  
  .about_card-container {
    display: flex;
    justify-content: center;
  }
  
  .about_card {
    margin: 45px 20px;
    width: 30%;
    min-width: 300px;
    height: 540px;
    
  }
  
  .about_card .about-detail {
    padding: 2px 25px 35px 20px;
    height: 450px;
    -webkit-box-shadow: -1px 0px 25px 9px rgba(0, 0, 0, 0.09);
    -moz-box-shadow: -1px 0px 25px 9px rgba(0, 0, 0, 0.09);
    box-shadow: -1px 0px 25px 9px rgba(0, 0, 0, 0.09);
  }
  
  .about_card .about_img-box {
    width: 110px;
    height: 104px;
    margin: 50px auto;
  
  }
  
  .about_card .about-detail p {
    margin-top: 15px;
  }
  
  .about_card img {
    width: 100%;
  }
  
  .about_card a {
    display: inline-block;
    padding: 8px 25px;
    border: 2px solid #7a9405;
    color: #7a9405;
    border-radius: 35px;
    margin-top: 55px;
  }
  
  .about_card a:hover {
    background-color: #7a9405;
    color: #fefeff;
  }
  
  
  /*  detail section end*/
  
  /* client section */
  
  /* portfolio section */
  .portfolio_section {
    text-align: center;
  }
  
  .portfolio_section .row>div {
    margin: 20px 0;
  
  }
  
  .portfolio_img-box img {
    width: 100%;
    height: max-content;
  }
  
  /*  portfolio section ends*/
  
  /* team section */
  
  .team_section {
    text-align: center;
  }
  
  .team_card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-bottom: 1px solid #7a9405;
  }
  
  .team_card {
    width: 250px;
    padding: 0 30px;
    margin: 35px 0;
    
  }
  
  .team_card h5 {
    text-transform: uppercase;
  }
  
  .team_card img {
    width: 100%;
  }
  
  .team_detail-box {
    width: 180px;
    margin: 50px auto 0 auto;
  }
  
  .team_social {
    display: flex;
    justify-content: space-between;
  }
  
  .team_follow h6 {
    color: #7a9405;
  }
  
  /*  team section ends */
  
  /* contact section */
  .contact_section .row {
    align-items: center;
  }
  
  .contact_section h2 {
    text-align: center;
    text-transform: uppercase;
  }
  
  .contact_section p {
    color: #7a9405;
    text-align: center;
    font-size: 20px;
    margin-bottom: 0;
  }
  
  
  .contact_section label {
    display: flex;
    flex-direction: column;
    color: #797879;
    margin-bottom: 25px;
  }
  
  .contact_section input,
  .contact_section textarea {
    outline: none;
    border: 1px solid #c1c1c2;
    width: 90%;
    height: 45px;
    padding: 0 15px;
    margin-top: 5px;
  }
  
  .contact_section textarea {
    height: 175px;
    padding: 5px;
  }
  
  .contact_form-container {
    padding: 15px 0 15px 0;
  }
  
  .contact_form-container button {
    border: none;
    background-color: #7a9405;
    color: #fff;
    padding: 12px 45px;
    font-size: 14px;
    border-radius: 25px;
    text-transform: uppercase;
  }
  
  .contact_img-box img {
    width: 80%;
    float: right;
  }
  
  
  /* contact section */
  
 
  